Repository remarkablemark/mui-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": "eslint --fix",
  "*.{css,html,json,md,yaml,yml}": "prettier --write"
}

build(package): refactor eslint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write

build(package): bump jest-watch-typeahead from 2.2.2 to 3.0.1
  package-lock.json
  package.json
Due: prettier --write

test: replace `toBeCalledWith` with `toHaveBeenCalledWith`
  src/hooks/useDispatch.test.ts
  src/hooks/useSelector.test.ts
  src/index.test.tsx
  src/pages/ErrorBoundary/ErrorBoundary.test.tsx
Due: eslint --fix

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(eslint): remove unused rules
  eslint.config.mjs
Due: eslint --fix

ci(github): set permissions in workflows
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/cypress.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): tidy release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(license): update copyright year to 2026
  LICENSE
Due: none

build(nvmrc): bump Node.js from 22 to 24
  .nvmrc
Due: none

chore(setupFiles): fix TextEncoder type error
  test/setupFiles.ts
Due: eslint --fix

chore(eslint): update ESLint configuration for files and extends
  eslint.config.mjs
Due: eslint --fix

style: fix eslint.config.mjs
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
Due: eslint --fix, prettier --write
